<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         displayDetailsOnAllIssues="true"
         failOnEmptyTestSuite="true"
         failOnPhpunitDeprecation="true"
         failOnPhpunitWarning="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source restrictNotices="true"
            restrictWarnings="true"
            ignoreIndirectDeprecations="true">
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="NO_COLOR" value="1" force="true"/>
        <env name="TERM" value="dumb" force="true"/>
    </php>
</phpunit>
